*{
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: red-hat;
  src: url('./Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
}

.note{
  font-size: 16px;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/pattern-background-desktop.svg');
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size:contain;
  font-family: red-hat;
}

main{
  background-color: white;
  width: 320px;
  height: 540px;
  border-radius: 20px;
  overflow: hidden;
}

main .hero{
  width: 100%;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1.3rem;
}

.note{
  text-align: center;
  width: 100%;
  color: hsl(224, 23%, 55%);
}

.summary{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  border-radius: 10px;
}

.summary img{
  width: 15%;
}

.info{
  width: 60%;
  font-size: 0.6rem;
}

.info p{
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

a{
  font-weight: 500;
}

button{
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 10px;
}

.proceed{
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0px 10px 20px hsla(224, 23%, 55%, 0.49);
  font-weight: 700;
}

.cancel{
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}

@media only screen and (max-width:375px) {
  body{
    background-image: url('./images/pattern-background-mobile.svg');
    background-size: cover;
  }
}